<!DOCTYPE html>
<html>
<head>
	<title>Albums</title>
	<link href="{{=URL('static', 'css/album.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{=URL('static', 'css/normalize.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{=URL('static', 'css/demo.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{=URL('static', 'css/component.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="container">
		<header class="codrops-header">
				<h1>Albums</h1>	
				<div id="nav">
					<label id="nav1hover">
						<input id="nav1" type="button" value="My &#xa; Albums">
						</input>
					</label>
					<label id="nav1hover">
						<input id="nav2" type="button" value="My &#xa; Timeline"/>
					</label>
					<label id="nav1hover">
						<input id="nav3" type="button" value="Public &#xa; Album"/>
					</label>
					<label id="nav1hover">
						<input id="nav4" type="button" value="Logout"/>
					</label>
				</div>
		</header>
	
		
				
	</div>
	<div class="foot">

			<div class="footnav">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Credits</a></li>
				</ul>
			</div>
	
			<div class="social clear">
				<div class="follow">
				<ul>
					<li class="youtube"><a href="#" >Youtube</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
					<li class="twitter"><a href="#" >Twitter</a></li>
					<li class="google"><a href="#">Google Plus</a></li>
				</ul>
				</div>
			</div>	

	</div>
</body>
</html>
