<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link href="{{=URL('static', 'css/register.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>


<title>
</title>
</head>

<body>
	<div id="container">
		<div class="header">
			<img id ="logo"src="../static/images/logo.svg">
			<img id="title1" src="../static/images/title.svg">
		</div>
	
		<div class="content">
			
			<div class="features" align="left">
				<div id="comment1">
					<div id="text1">					
					<p> <b style="font-size:1.5em;letter-spacing:-2px;">Capture and Share your Moments</b>&nbsp with the world.</p>
					</div>
				</div>
				<div id="comment1">
					<div id="text1">					
					<p><b style="font-size:1.5em; letter-spacing:-2px;">Check out the hottest albums</b>&nbsp right now! </p>
					</div>
				</div>
				<div id="comment1">
					<div id="text1">					
					<p> <b style="font-size:1.5em;letter-spacing:-2px;">Enjoy image sharing</b>&nbspglobally!</p>
					</div>
				</div>
			</div>

		
	 		<div id="formstyle">
				<div id="form">	
					<div id="formtitle">
					<h1>Sign Up </h1>
					</div>	
					{{=form.custom.begin}}		
					<label>
                    {{=form.custom.widget.First_Name.update(_id="firstname",_placeholder="    First Name")}}
					</label>
					<label>
					{{=form.custom.widget.Last_Name.update(_id="lastname",_placeholder="    Last Name")}}
					</label>
					<label>
					{{=form.custom.widget.Email.update(_id="email",_placeholder="    Your Email")}}
					</label>
					<label>
					{{=form.custom.widget.Password.update(_id="pass",_placeholder="    New Password")}}
					</label>
					<label>
                    {{=form.custom.widget.validate.update(_id="repass",_placeholder="    Re-enter Password")}}
					</label>
					<label>
					<p id="terms"> By clicking Sign Up, you agree to our Terms of Service
					and Privacy Policy.</p>
					</label>								
					<label id="signhover">
					{{=form.custom.submit.update(_id="signstyle",_value="Sign Up")}}
					{{=form.custom.end}}
					<a href="#"></a>
					</label>				
				</div>
			</div>
	
		</div>
	</div>
	<div class="foot">

			<div class="footnav">
				<ul>
					<li onclick = 'window.location="{{=URL('default','about_log',args=['0'])}}"'>About</li>
					<li onclick = 'window.location="{{=URL('default','contact_log',args=['1'])}}"'>Contact</li>
					<li onclick = 'window.location="{{=URL('default','credits_log',args=['2'])}}"'>Credits</li>
				</ul>
			</div>
	
			<div class="social clear">
				<div class="follow">
				<ul>
					<li class="youtube"><a href="https://www.youtube.com" >Youtube</a></li>
					<li class="facebook"><a href="https://www.facebook.com">Facebook</a></li>
					<li class="twitter"><a href="https://www.twitter.com" >Twitter</a></li>
					<li class="google"><a href="https://www.google.com">Google Plus</a></li>
				</ul>
				</div>
			</div>	

	</div>

</body>
</html>
